:root {
  --color-text-default: #241d26;
  --color-basic: #c894dc;
  --color-basic-light: #f8effb;
  --color-basic-gray: #bfadc4;
}

html {
  font-family: "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0;

  color: var(--color-text-default);
}

a {
  text-decoration: none;
}

img {
  display: block;
  object-fit: contain;
  user-select: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main */

.main {
  width: 1200px;
  margin: 0 auto;
  padding: 135px 90px;
}

.main__title {
  margin: 0 auto 50px;
  max-width: 700px;
  font-size: 2rem;
  text-align: center;
}

.main__form {
  margin: 0 auto 90px;
}

.main__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  counter-reset: item-counter;
}

.main__item {
  position: relative;
  margin-bottom: 45px;
}

.main__item:last-child {
  margin-bottom: 0;
}

.main__item::before {
  counter-increment: item-counter;
  content: "#" counter(item-counter);

  position: absolute;
  top: 20px;
  right: 25px;

  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-basic);
  opacity: 0.3;
}

.main__results-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.6rem;
}

/* Form */

.form {
  display: grid;
  grid-template-columns: 1fr 180px;
  width: 600px;
}

.form__input {
  margin: 0;
  padding: 12px 20px;

  font: inherit;
  color: inherit;

  border-radius: 0;
  border: 4px solid var(--color-basic);
  border-right: none;
  outline: none;
  transition: all 0.2s;
}

.form__input:hover:not(:active):not(:focus) {
  background-color: var(--color-basic-light);
}

.form__input::placeholder {
  color: var(--color-basic);
  opacity: 0.5;
  user-select: none;
}

.form__input:disabled {
  color: var(--color-basic-gray);
  border-color: var(--color-basic-gray);
  pointer-events: none;
}

.form__send {
  margin: 0;
  padding: 12px 20px;

  font: inherit;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;

  border-radius: 0;
  border: none;
  border-left: none;
  background-color: var(--color-basic);
  outline: none;

  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

.form__send:hover:not(:focus):not(:active),
.form__send:focus-visible {
  color: #ffffff;
}

.form__send:disabled {
  color: #ffffff;
  background-color: var(--color-basic-gray);
  pointer-events: none;
}

/* Repo */

.repo {
  padding: 25px 35px;
  border: 2px solid var(--color-basic);
}

.repo__name {
  margin: 0;
  margin-bottom: 40px;

  font-size: 1.4rem;
  color: var(--color-basic);
  word-wrap: break-word;
}

.repo__link {
  color: #9462a7;
  outline: none;
}

.repo__link:hover,
.repo__link:focus-visible {
  text-decoration: underline;
}

.repo__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
}

.repo__content--row {
  grid-column: 1 / -1;
}

.repo__caption {
  margin-bottom: 10px;
  font-size: 0.85em;
  font-weight: 700;
  color: var(--color-basic)
}

.repo__caption--align-center{
  align-self: center;
}

.repo__text {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 42px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.owner {
  display: grid;
  grid-template-columns: 42px 1fr;
  gap: 15px;
  align-items: center;
  width: fit-content;

  color: inherit;
  word-wrap: break-word;
}

.owner__avatar {
  border-radius: 50%;
}
